<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.epackage.webdsl/pkgdsl/PkgDsl"
			class = "webdsl.epackage.pkgdsl.pkgDsl.PkgDslPackage"
			genModel = "model/generated/PkgDsl.genmodel" />
	</extension>
</plugin>
